/*public*/
* {
    margin: 0;
    padding: 0;
}
body{
    min-width: 980px;
    background-color: #eee;
}
a{
    text-decoration: none;
    font-family: "宋体","微软雅黑",sans-serif;
    color:white;
}
a:hover{
    color: #eaa;
}
/*header*/
.header{
    background-color: #522a5c;
    height: 80px;
    position: relative;
}
.icon-github{
    position: absolute;
    right:10px;
    bottom:0;
}
.header-main{
    width:980px;
    height:100%;
    margin:0 auto;
    position: relative;/*使wrap与icon-github都是使用position定位，可以通过div出现的前后位置进行覆盖*/
    background-color: inherit; /*wrap的颜色是透明的，覆盖不住icon-github，故需设置和背景一样的颜色进行覆盖*/

}
.logo{
    position: absolute;
    top:50px;
    left:0;
}
.menu{
    position: absolute;
    top:50px;
    right:0;
}
.menu li{
    display: inline;
    margin-left: 28px;
}
.menu li a{
    font-size: 14px;
}
/*footer*/
.footer{
    background-color: black;
}
.footer a{
    font-size: 12px;
}
.footer span{
    display: block;
    color: #fff;
    font-size: 12px;
}
.footer-menu{
    height:35px;
    border-bottom: 1px solid #333;
    text-align: center;
}
.footer-menu li{
    display: inline;
    margin:0 14px;
    line-height: 35px;
}

.footer-links{
    width:980px;
    height:300px;
    margin:0 auto;
}
.links{
    float: left;
    width:20%;
}
.links span{
    margin:40px 0 30px 0;
}
.links li{
    margin-bottom: 5px;
}
.copyright{
    text-align: center;
}
.copyright-img{
    margin-top:20px;
    height:34px;
}
/*index*/

/*banner*/
.banner{
    height:550px;
    background-image: url("../images/banner-bg.jpg");
    background-size: 100% 100%;
}
.banner-main{
    width:980px;
    height:100%;
    margin:0 auto;
    position: relative;
}
.context{
    width: 360px;
    position: absolute;
    right:0;
    bottom: 0;
    padding:10px 10px 30px 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 100%);
}
.context span{
    display: block;
    color: #fff;
    font-size: 14px;
    margin-bottom:12px;
    text-align: right;
}
.context p{
    text-indent: 24px;
    line-height: 150%;
    font-size: 12px;
    color: #ffffff;
}
/*center*/
.center{
    width:980px;
    margin: 10px auto 100px auto;
    overflow: hidden;
}
.col{
    float: left;
    width:320px;
    margin-right: 10px;
    background-color: white;
    padding-bottom:999px;/*使三个div的高度相同并且自适应*/
    margin-bottom: -999px;
}
.clear_margin{
    margin-right: 0;
}
.col-img{
    width: 300px;
    height:180px;
    margin:10px 10px 15px 10px;
}
.col-img img{
    width:300px;
    height:180px;
}
.img-context{
    padding: 0 30px 25px 30px;
}
.img-context p{
    text-indent: 24px;
    line-height: 170%;
    font-size: 12px;
}
/*author*/
.author{
    height:400px;
    background-color: white;
    padding-top: 1px;/*使两个垂直外边距不要合并*/
}
.author-img{
    width:160px;
    height:160px;
    border-radius: 50%;
    overflow: hidden;
    margin:-51px auto 50px auto;
}
.author-img img{
    width:160px;
    height:160px;
}
.author-intro{
    width: 600px;
    margin:0 auto;
    font-family: "Century Gothic",sans-serif;
}
.author-intro span{
    display: block;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.author-intro p{
    text-indent: 28px;
    line-height: 170%;
    font-size: 14px;
}
/*blog*/
.container{
    width:980px;
    margin:20px auto 300px auto;
}
.blog-center{
    float: left;
    width:710px;
    background-color: white;
    margin-right: 10px;
}
.blog-aside{
    float: left;
    background-color: white;
    width: 260px;
}
.blog{
    margin: 20px 20px 30px 20px;
    background-color: bisque;
    position: relative;
}
.blog-tag{
    position: absolute;
    left:-60px;
}
.blog-tag p{
    display: block;
    width: 50px;
    height:40px;
    color: #fff;
    /*使字体垂直水平居中*/
    text-align: center;
    line-height: 40px;

}
.deep-purple{
    background-color: #522a5c;
}
.light-purple{
    background-color: #a660b7;
}